.wholeContainer{
    display: flex;
    border: 2px solid gray;
}
.leftLoginSide{
    width: 45%;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
}
.rightLoginSide{
    width: 55%;
    height: 100vh;
    background-color: var(--primary-color);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 10px solid var(--accent-color);

}
.loginForm label{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.loginForm button{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    background-color: var(--accent-color);
    border: none;
}
.loginForm h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
}
.linkStyle{
    text-decoration: none;
    color: var(--accent-color);
}
.registerLink{
    text-align: center;
    margin-top: 20px;
}
.registerLink a{
    text-decoration: none;
    color: var(--accent-color);
    font-size: 15px;
    
}
.registerLink p{
    font-size: 20px;
    font-weight: bold;
}
.loginForm input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
    font-size: 15px;
    margin-bottom: 15px;
}
.loginForm input:focus{
    outline: none;
}
.loginForm input::placeholder{
    font-size: 15px;
}
.loginImage{
    width: 100%;
    border: 10px solid var(--accent-color);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.loginImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}