.leftSide {
    background-color: var(--accent-color);
    height: 100vh;
    width: 20%; /* Set the width to 20% */
    position: fixed;
    top: 0;
    left: 0;
    
    overflow-x: hidden;
    padding-top: 75px;
    border-right: 1px solid #e6e6e6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.leftSide::after {
    content: '';
    position: absolute;
    top: 63px;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: #e6e6e6; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.homeLink, .dropdown{
    display: flex;
    align-items: center;
    color: var(--primary-color);
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
    padding: 10px;
    width: 90%;
    background-color: #140369;
    border-radius: 5px;
    margin-bottom: 10px;
}
.homeIcon{
    margin-right: 10px;
}
.dropdown-menu{
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 5px;
    margin-bottom: 10px;
    color: var(--primary-color);
}
.genreLink{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 15px;
   
    border-radius: 5px;
    margin-bottom: 1px;
}
.dropdown:hover .dropdown-menu.show{
    display: flex;
}

.dropdown-menu a:hover {
    background-color: transparent !important;
  }

